<!DOCTYPE html>
<html lang="en">
    <body style="color: black;">
        <header>
            <h1>Ubah kata sandi Moodscape anda</h1>
        </header>
        <main>
            <div style="width: 50%; margin: 0 auto;">
                <div style="text-align: center;">
                    <h3 style="margin-bottom: 0;">Halo {{ name }},</h3>
                    <p>Kami mengirimkan surel ini karena anda melakukan permintaan untuk mengubah kata sandi anda. Klik tautan dibawah untuk membuat kata sandi baru anda.</p>
                    <div style="margin-top: 1.5rem; margin-bottom: 1.5rem;"> 
                        <a href="https://moodscape.netlify.app/reset-password/{{ reset_token }}">
                            <button>Buat kata sandi baru</button>
                        </a>
                    </div>
                    <p>Jika anda tidak mengajukan permintaan ubah kata sandi, anda bisa abaikan surel ini. Kata sandi anda tidak akan terubah.</p>
                </div>
                <div style="text-align: center; margin-top: 2rem;">- Moodscape Team -</div> 
            </div>
        </main>
    </body>
</html>